<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add {{ model_name }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

          
<form method="POST" class="card-body" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="row">
    {% for field in form %}
    
    {{ field.errors }}
        <div class="fieldWrapper col-6">
            <div class="form-group">
            {{ field.label_tag }} {{ field }}
            </div>
        </div>
      
    {% endfor %}
  </div>

<button type="submit" class="btn btn-primary">Save</button>
</form>



      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
