<div id="ornaments-search-widget">
    <input type="text" id="ornaments-search-input" placeholder="Search Ornaments">
    <div id="ornaments-search-results">
      {% for ornament in ornaments %}
        <div class="ornament-item" data-id="{{ ornament.id }}">
          <span class="ornament-name">{{ ornament.name }}</span>
          <span class="ornament-weight">Weight: {{ ornament.weight }}</span>
          <span class="ornament-purity">Purity: {{ ornament.purity }}</span>
        </div>
      {% endfor %}
    </div>
  </div>