{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}
        <div class="main-panel">
          <div class="content-wrapper">
          
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>

              <div class="btn-group" role="group" aria-label="Stock">
                <a href="{% url 'stocks:ornaments' %}" class="btn btn-secondary {% if not stock %}active{% endif %}">All Ornaments</a>
            </div>

                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr style="color:white">
                            <th>Actions</th>
                            <th> Product name </th>
                            <th> Weight</th>
                            <th> Jarti</th>
                            <th> Total weight</th>
                            <th> Rate(10 gram) </th>
                            <th> Wages </th>
                            <th> Stones </th>
                            <th> Total </th>
                            <th> Payed </th>
                            <th> Due </th>
                            <th> Payment method</th>
                            <th> Purchased from</th>
                            <th> Pan</th>
                            <th> Purchased date </th>
                            <th> Status </th>
                          </tr>
                        </thead>
                        <tbody>
              
                        
                          {% for item in deleted_ornaments %}
                            <tr>
                              <td>
                                <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">Permanently Delete</a>
                                <a href="{% url 'stocks:restore_ornament' item.id %}" class="btn btn-success">Restore</a>

                              </td>
                              <td>
                                <span class="pl-2">{{ item.product_name }}</span>
                              </td>
                              <td> {{ item.weight|floatformat:2 }} </td>
                              <td> {{ item.jarti|floatformat:2 }} </td>
                              <td> {{ item.total_weight|floatformat:2 }} </td>
                              <td> {{ item.rate|floatformat:0 }} </td>
                              <td> {{ item.wages|floatformat:0 }} </td>
                              <td> {{ item.stones|floatformat:0 }} </td>
                              <td> {{ item.grand_total|floatformat:2 }} </td>
                              <td> {{ item.cash|floatformat:2 }} </td>
                              <td> {{ item.bank|floatformat:2 }} </td>
                              <td>{{ item.due }}</td>
                              <td> {{ item.purchased_from }} </td>
                              <td> {{ item.pan|floatformat:2 }} </td>
                              <td> {{ item.Nepali_date }} </td>

                              {% if item.status == 'approved' %}
                              <td>
                                <div class="badge badge-outline-success">{{ item.status }} </div>
                              </td>
                              
                              {% else %}
                              <td>
                                <div class="badge badge-outline-danger">{{ item.status }} </div>
                              </td>
                              {% endif %}
                            </tr>

                            {% empty%}
                            <tr>
                                <td colspan="4">No stocks found.</td>
                            </tr>

                            {% endfor %}
                          
                            {% if ornaments %}
                            <tr style="color:white">
                              <td>Total Weight</td>
                              <td colspan="1"></th>
                              <td>{{ totalweight|floatformat:2 }}</td>
                              <td colspan="5"></th>
                              <td>{{ total|floatformat:0 }}</td>
                              <td>{{ paid|floatformat:0 }}</td>
                              <td>{{ due|floatformat:0 }}</td>
                              <td colspan="5"></th>
                            </tr>

                        {% endif %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
