{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}
  <div class="main-panel">
    <div class="content-wrapper">

      <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{ weight|floatformat:2 }} gram</h3>
                      <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                  </div>

                </div>

                <div class="col-3">
                  <div class="icon icon-box-success ">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>
              </div>

                <h6 class="text-muted font-weight-normal">Stock Ornaments Gold</h6>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">Rs. {{ total|floatformat:0 }}</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                  </div>
                </div>

                <div class="col-3">
                  <div class="icon icon-box-success">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>

              </div>
              <h6 class="text-muted font-weight-normal">Ornaments Stock</h6>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{ ornaments_count }}</h3>
                    <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                  </div>
                </div>

                <div class="col-3">
                  <div class="icon icon-box-danger">
                    <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                  </div>
                </div>

              </div>
              <h6 class="text-muted font-weight-normal">Total Oraments</h6>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">$31.53</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                  </div>
                </div>

                <div class="col-3">
                  <div class="icon icon-box-success ">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>

              </div>
              <h6 class="text-muted font-weight-normal">Expense current</h6>
            </div>
          </div>
        </div>
      </div>
          
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Upload Ornament File</h4>
             
              <div class="opload-form">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ ornament_upload_form.non_field_errors }}
                  <div class="row">
                    {% if message %}
                      <div class="text-danger">
                        <span>{{ message }}</span><br>
                      </div>
                    {% endif %}
                  </div>
                        
                  <div class="form-group">
                    <div class="row">
                

                      <div class="col-3">
                        {{ ornament_upload_form.ornament_file }}
                      </div>

                      <div class="col-3">
                        {% if ornament_upload_form.ornament_file.errors %}
                          <div class="text-danger">
                          {% for error in ornament_upload_form.ornament_file.errors %}
                            <span>{{ error }}</span><br>
                          {% endfor %}
                          </div>
                        {% endif %}
                      </div>

                      <div class="col-3">
                        <button style="font-size:12px;" class="btn btn-success float-right" type="submit">Upload Ornaments</button>
                      </div>
                    </div>
                  </div>    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  

      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">

              <h4 class="card-title">Ornaments</h4>
   
              <div class="row mb-4">
                  <div class="col-md-6">
                      <form method="get" action="{% url 'stocks:ornaments' %}">
                          <div class="input-group">
                              <input class="form-control" type="text" name="search" placeholder="Search by ornament name">
                              <div class="input-group-append">
                                  <button class="btn btn-success" type="submit">Search</button>
                              </div>
                          </div>
                      </form>
                    </div>
      
    
           
                <div class="col-md-6">
                  <form method="get">
                    <div class="input-group">
                      <select class="form-control" id="main_category" name="main_category">
                        <option value="">All Categories</option>
                          {% for category in main_categories %}
                            <option value="{{ category.pk }}" {% if selected_category == category %}selected{% endif %}>{{ category.name }}</option>
                          {% endfor %}
                      </select>

                      <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Filter</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            
            

              <div class="btn-group" role="group" aria-label="STOCK">
                <a href="{% url 'stocks:ornaments' %}" class="btn btn-secondary {% if not stock %}active{% endif %}">All</a>
                <a href="{% url 'stocks:ornaments' %}?stock=ORDERED" class="btn btn-secondary {% if stock == 'ORDERED' %}active{% endif %}">Ordered</a>
                <a href="{% url 'stocks:ornaments' %}?stock=SOLD" class="btn btn-secondary {% if stock == 'SOLD' %}active{% endif %}">Sold</a>
                <a href="{% url 'stocks:ornaments' %}?stock=DESTROYED" class="btn btn-secondary {% if stock == 'DESTROYED' %}active{% endif %}">Destroyed</a>
                <a href="{% url 'stocks:ornaments_deleted' %}" class="btn btn-secondary">Deleted</a>
              </div>

              <a href="{% url 'stocks:ornament-create' %}" class="btn btn-primary float-right">Add New Ornament</a>
                    
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr style="color:white">
                        <th>Actions</th>
                        <th> Purchased date </th>
                        <th> Product name </th>
                        <th> Weight(gram) </th>
                        <th> Jarti</th>
                        <th> Total weight</th>
                        <th> Rate(Tola) </th>
                        <th> Wages </th>
                        <th> Stones </th>
                        <th> Total </th>
                        <th> Cash </th>
                        <th> Bank </th>
                        <th> Due </th>
                        <th> Purchased from</th>
                        <th> Kaligar</th>
                        
                      </tr>
                    </thead>

                    <tbody>
                      {% for item in ornaments %}
                        <tr>
                          <td>
                    
                            <a href="{% url 'stocks:ornament_update' item.pk %}" class="btn btn-primary" >edit</a>
                            <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                          </td>
                          <td> {{ item.nepali_date }} </td>
                          <td>
                            <span class="pl-2">{{ item.product_name }}</span>
                          </td>
                          <td> {{ item.weight|floatformat:3 }} </td>
                          <td> {{ item.jarti|floatformat:2 }} </td>
                          <td> {{ item.total_weight|floatformat:2 }} </td>
                          <td> {{ item.rate|floatformat:0 }} </td>
                          <td> {{ item.wages|floatformat:0 }} </td>
                          <td> {{ item.stones|floatformat:0 }} </td>
                          <td> {{ item.grand_total|floatformat:2 }} </td>
                          <td> {{ item.cash|floatformat:2 }} </td>
                          <td> {{ item.bank|floatformat:2 }} </td>
                          <td>{{ item.due|floatformat:0 }}</td>

                          {% if item.purchased_from.name %}
                            <td> {{ item.purchased_from.name }} </td>
                        
                          {% else %}
                            <td>-----</td>
                          {% endif %}

                          <td> {{ item.kaligar.name }} </td>

                            {% if item.status == 'approved' %}
                            <td>
                              <div class="badge badge-outline-success">{{ item.status }} </div>
                            </td>
                              
                            {% else %}
                              <td>
                                <div class="badge badge-outline-danger">{{ item.status }} </div>
                              </td>
                            {% endif %}


                        </tr>

                        {% empty%}
                        <tr>
                          <td colspan="4">No Ornaments found.</td>
                        </tr>
                      {% endfor %}
                          
                      {% if ornaments%}
                        <tr style="color:white">
                          <td>Total Weight</td>
                          <td colspan="2"></th>
                          <td>{{ weight|floatformat:2 }}</td>
                          <td>{{ totaljarti|floatformat:2 }}</td>
                          <td>{{ totalweight|floatformat:3 }}</td>
                          <td colspan="3"></th>
                          <td>{{ total|floatformat:0 }}</td>
                          <td colspan="6"></th>
                        </tr>
                      {% endif %}

                    </tbody>

                    
                  </table>
                </div>

                 <!-- Pagination -->
                 <div class="pagination mt-3">
                  <span class="step-links">
                      {% if ornaments.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ ornaments.previous_page_number }}">previous</a>
                      {% endif %}
                      
                      <span class="current">
                          Page {{ ornaments.number }} of {{ ornaments.paginator.num_pages }}.
                      </span>
                      
                      {% if ornaments.has_next %}
                          <a href="?page={{ ornaments.next_page_number }}">next</a>
                          <a href="?page={{ ornaments.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% include 'footer.html' %}
  </div>

{% endblock %}
