{% extends 'basic.html' %}
{% load static %}

<!-- container-scroller -->
{% block body %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row col-12 grid-margin">
       <button type="button"  class="btn btn-primary float-right mt-2" data-toggle="modal" data-target="#myModal"> Add new ornament</button>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Available Ornaments</h4>
            <ul>
              {% for category in main_categories_with_counts %}
              <li><a style="color:white; padding-left:0; margin-left:0;" href="{% url 'stocks:ornaments' %}?main_category={{ category.pk }}">{{ category.name }} : ({{ category.count_ornaments }} ) - Rs {{ category.total_amount|floatformat:0 }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Ordered Ornaments</h4>
            <ul>

              {% for category in ordered_with_counts %}
              {% if category.count_ornaments > 0%}
              <li>{{ category.name }} ({{ category.count_ornaments }} ornaments)</li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% include 'footer.html' %}
  {% include 'include/add_model.html' %}
  <!-- partial -->
</div>
{% endblock %}
