{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">       
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add</h4>

                            <!-- Button to Open the Modal -->
          
                        <form method="POST" class="card-body" enctype="multipart/form-data">
                            {% csrf_token %}
                          
                            <div class="row">
                                {% for field in form %}
                                
                                {{ field.errors }}
                                    <div class="fieldWrapper col-6">
                                        <div class="form-group">
                                        {{ field.label_tag }} {{ field }}
                                        </div>
                                    </div>
                                  
                                {% endfor %}
                              </div>
                          
                        
                          <button type="submit" class="btn btn-primary">Save Ornament</button>
                          </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'include/add_model.html' %}
    {% include 'footer.html' %}
</div>
{% endblock %}