{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">       
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update</h4>

                            <form method="POST" action="{% url 'stocks:ornament_update' pk=object.pk %}">
                                {% csrf_token %}
                                <div class="row">
                                    {% for field in form %}
                                    
                                    {{ field.errors }}
                                        <div class="fieldWrapper col-6">
                                            <div class="form-group">
                                            {{ field.label_tag }} {{ field }}
                                            </div>
                                        </div>
                                      
                                    {% endfor %}
                                  </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% include 'footer.html' %}
</div>
{% endblock %}