{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">       
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update</h4>

                            <form method="POST" action="{% url 'sales:sales_update' pk=object.pk %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="fieldWrapper col-2">
                                        <div class="form-group">
                                            {{ form.errors }}
                                            {{ form.bill_no.label_tag }}
                                            {{ form.bill_no }}
                                        </div>
                                    </div>
                                    <div class="fieldWrapper col-4">
                                        <div class="form-group">
                                            {{ form.nepali_date.label_tag }}
                                            {{ form.nepali_date }}
                                        </div>
                                    </div>
    
                                    <div class="fieldWrapper col-6">
                                        <div class="form-group">
                                            {{ form.customer.label_tag }}
                                            {{ form.customer }}
                                        </div>
                                    </div>
    
                                    <div class="fieldWrapper col-6">
                                        <div class="form-group">
                                            {{ form.address.label_tag }}
                                            {{ form.address }}
                                        </div>
                                    </div>
    
                                    <div class="fieldWrapper col-6">
                                        <div class="form-group">
                                            {{ form.phone_no.label_tag }}
                                            {{ form.phone_no }}
                                        </div>
                                    </div>
    
                                    
                                    <div class="fieldWrapper col-6">
                                        <div class="form-group">
                                            {{ form.selected_ornaments.label_tag }} 
                                            {{ form.selected_ornaments }}
                                        </div>
                                    </div>
    
                                    <div class="fieldWrapper col-3">
                                        <div class="form-group">
                                      <!-- Add New button outside the custom dropdown -->
                                      <button class="mt-4 btn btn-primary" data-toggle="modal" data-target="#selectModal">Select Existing</button>
                                      
                                        </div>
                                    </div>

                                    <div class="fieldWrapper col-3">
                                        <div class="form-group">
                                      <!-- Add New button outside the custom dropdown -->
                                      <button class="mt-4 btn btn-success" data-toggle="modal" data-target="#myModal">Add New</button>
                                      
                                        </div>
                                    </div>
    
                                    <div class="table-responsive">
                                        <table class="mt-2 mb-4 table">
                                            <thead>
                                                <tr style="color:white">
                                                    <th>Product</th>
                                                    <th>Purity</th>
                                                    <th>Weight</th>
                                                    <th>Rate</th>
                                                    <th>Jarti</th>
                                                    <th>Jyala</th>
                                                    <th>Stone</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody id="selectedOrnamentsTable">
                                                <!-- Selected ornament rows will be added here dynamically -->
    
                                            
                                                <tr>
                                                    <td colspan="4">No ornaments selected.</td>
                                                </tr>
    
    
                                                <tr style="color:white">
                                                <td>Total Weight</td>
                                                <td colspan=2""></th>
                                                <td></td>
                                                <td colspan=3""></th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
    


                                    <div class="fieldWrapper col-3">
                                        <div class="form-group">
                                            {{ form.own_gold.label_tag }}
                                            {{ form.own_gold }}
                                        </div>
                                    </div>
    
    
                                    <div class="fieldWrapper col-3">
                                        <div class="form-group">
                                            {{ form.cash.label_tag }}
                                            {{ form.cash }}
                                        </div>
                                    </div>
    
                                    <div class="fieldWrapper col-3">
                                        <div class="form-group">
                                            {{ form.bank.label_tag }}
                                            {{ form.bank }}
                                        </div>
                                    </div>
    
                                    <div class="fieldWrapper col-3">
                                        <div class="form-group">
                                            {{ form.discounts.label_tag }}
                                            {{ form.discounts }}
                                        </div>
                                    </div>
    
                                    <div class="fieldWrapper col-6">
                                        <div class="form-group">
                                            {{ form.total_weight.label_tag }}
                                            {{ form.total_weight }}
                                        </div>
                                    </div>

                                    <div class="fieldWrapper col-6">
                                        <div class="form-group">
                                            {{ form.grand_total.label_tag }}
                                            {{ form.grand_total }}
                                        </div>
                                    </div>                               
    
                                    <div class="fieldWrapper col-12">
                                        <div class="form-group">
                                            {{ form.notes.label_tag }}
                                            {{ form.notes }}
                                        </div>
                                    </div>


                                  </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% include 'footer.html' %}
    <script>
        $(document).ready(function() {
            $('#id_selected_ornaments').select2();
        
            $('#id_selected_ornaments').on('change', function() {
                var selectedOrnaments = $(this).val();
            
            //Clear the table body
            var tableBody=$('.table tbody');
            tableBody.empty();
           
            // Iterate through the selected ornaments and add rows to the table
            if (selectedOrnaments && selectedOrnaments.length > 0) {
                for (var i = 0; i < selectedOrnaments.length; i++) {
                    var ornament = $('#id_selected_ornaments option[value="' + selectedOrnaments[i] + '"]').text();
                    // Split the text into an array of substrings using hyphen as the delimiter
                    var parts = ornament.split(' - ');

                    // Initialize an object to store the values
                    var ornamentData = {};

                    // Iterate through the parts and split each part based on colon
                    parts.forEach(function(part) {
                        var keyValue = part.split(':');
                        var key = keyValue[0].trim();
                        var value = keyValue[1].trim();
                        
                        // Assign values to the object based on the keys
                        ornamentData[key] = value;
                    });

                    // Convert the object to a JSON string
                    var ornamentJson = JSON.stringify(ornamentData);

                    total = parseFloat(ornamentData["Total"]); // Convert the value to a float before adding

                    var newRow = $('<tr>');
                    newRow.append($('<td>').text(ornamentData["Name"]));
                    newRow.append($('<td>').text(ornamentData["Purity"]));
                    newRow.append($('<td>').text(ornamentData["Weight"])); 
                    newRow.append($('<td>').text(ornamentData["Rate"]));
                    newRow.append($('<td>').text(ornamentData["Jarti"]));
                    newRow.append($('<td>').text(ornamentData["Jyala"]));
                    newRow.append($('<td>').text(ornamentData["Stone"]));
                    newRow.append($('<td>').text(total)); // Replace with the actual stone value
                    tableBody.append(newRow);
                }
            }
            


            
            });
        });
        
    </script>
</div>
{% endblock %}