{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}

        <div class="main-panel">
          <div class="content-wrapper">


            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ gold_sales|floatformat:2 }} gram</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Gold Sales</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs. {{ total_sales|floatformat:2 }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Total sales</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs {{ profit|floatformat:2 }}</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Net Profit</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>

                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ sales_upload_form.non_field_errors }}
                      <div class="row">
                        {% if message %}
                              <div class="text-danger">
                                  <span>{{ message }}</span><br>
                              </div>
                        {% endif %}
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <div class="col-3">
                          {{ sales_upload_form.sales_file.label_tag }}
                          </div>

                          <div class="col-3">
                            {{ sales_upload_form.sales_file }}
                          </div>

                          <div class="col-3">
                            {% if sales_upload_form.sales_file.errors %}
                              <div class="text-danger">
                                {% for error in sales_upload_form.sales_file.errors %}
                                    <span>{{ error }}</span><br>
                                {% endfor %}
                              </div>
                            {% endif %}
                          </div>

                          <div class="col-3">
                            <button style="font-size:12px;" class="btn btn-success float-right" type="submit">Upload Sales</button>
                          </div>

                        </div>
                      </div>
                    </form>


              <a href="{% url 'sales:sales-create' %}" class="btn btn-primary float-right">Add New Sales</a>


                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr style="color:white">
                            <th>Actions</th>
                            <th> Bill no</th>
                            <th> Date </th>
                            <th> Customer </th>
                            <th> Phone no </th>
                            <th> Ornaments </th>
                            {% comment %} <th> Material </th> {% endcomment %}
                            <th> Total Weight </th>
                            <th> Grand total </th>
                            <th> Own gold </th>
                            <th> Cash </th>
                            <th> Bank </th>
                            <th> Due </th>
                            <th> Notes </th>
                            <th> Profit </th>
                            
                          </tr>
                        </thead>
                        <tbody>


                          {% for item in sales %}
                            <tr>
                              <td>
                                <a href="{% url 'sales:sales_update' item.pk %}" class="btn btn-primary" >edit</a>
                                  <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                              </td>
                              <td>{{ item.bill_no }}</td>
                              <td>{{ item.nepali_date }}</td>
                              <td>{{ item.customer }}</td>
                              <td>{{ item.phone_no }}</td>
                              <td>
                                {% for item in item.selected_ornaments.all %}
                                {{ item.ornament.product_name }}
                                {% endfor %}
                               </td>
                              <td> {{ item.total_weight|floatformat:2 }} </td>
                              <td> {{ item.grand_total|floatformat:2 }} </td>
                              <td> {{ item.own_gold|floatformat:2 }} </td>
                              <td> {{ item.cash|floatformat:2 }} </td>
                              <td> {{ item.bank|floatformat:2 }} </td>
                              <td>{{ item.due }}</td>
                              <td>{{ item.notes }}</td>
                              <td>{{ item.profit }}</td>
                            
                            </tr>

                            {% empty%}
                            <tr>
                                <td colspan="4">No stocks found.</td>
                            </tr>

                            {% endfor %}

                        
                            <tr style="color:white">
                              <td>Total Weight</td>
                              <td colspan=5""></th>
                              <td>{{ gold_sales|floatformat:2 }}</td>
                              <td>{{ total_sales|floatformat:0 }}</td>
                              <td>{{ due|floatformat:0 }}</td>
                              <td colspan=3""></th>
                            </tr>

                      
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
