{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}
        <div class="main-panel">
          <div class="content-wrapper">
          
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>

              <div class="btn-group" role="group" aria-label="Purchased From">
                <a href="{% url 'stocks:goldstocks' %}" class="btn btn-secondary {% if not purchased_from %}active{% endif %}">All Stocks</a>
            </div>

                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </th>
                            <th> Name </th>
                            <th> Purchased From </th>
                            <th> Bill No </th>
                            <th> Weight </th>
                            <th> Rate </th>
                            <th> Total </th>
                            <th> Purchased Date </th>
                            <th> Status </th>
                          </tr>
                        </thead>
                        <tbody>
              
                        
                          {% for item in deleted_stocks %}
                            <tr>
                              <td>
                                <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">Permanently Delete</a>
                                <a href="{% url 'stocks:restore_stock' item.id %}" class="btn btn-success">Restore</a>

                              </td>
                              <td>
                                <span class="pl-2">{{ item.Name }}</span>
                              </td>
                              <td>{{ item.Purchased_from }}</td>
                              <td>{{ item.Bill_no }}</td>
                              <td> {{ item.Total_weight|floatformat:2 }} </td>
                              <td> {{ item.Rate|floatformat:0 }} </td>
                              <td> {{ item.Grand_total|floatformat:2 }} </td>
                              <td> {{ item.Nepali_date }} </td>
                              {% if item.status == 'approved' %}
                              <td>
                                <div class="badge badge-outline-success">{{ item.status }} </div>
                              </td>
                              
                              {% else %}
                              <td>
                                <div class="badge badge-outline-danger">{{ item.status }} </div>
                              </td>
                              {% endif %}
                            </tr>

                            {% empty%}
                            <tr>
                                <td colspan="4">No any deleted stocks found.</td>
                            </tr>

                            {% endfor %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
