<!-- purchasesource_popup.html -->
{% extends 'basic.html' %}  <!-- Adjust the base template as per your project setup -->
{% load static %}

{% block content %}
  <h2>Add Purchase Source</h2>
  <form method="post" id="purchasesource-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save Purchase Source</button>
  </form>
{% endblock %}