{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel col-12">
    <div class="content-wrapper">
        <div class="row">       
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add</h4>

                            <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal"> Add purchase source</button>
                        
                        <form method="POST" class="card-body" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="row">
                                    {% for field in stockform %}
                                    {{ field.errors }}
                                    {% endfor %}

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Material.label }}</label>
                                                    {{ stockform.Material }}
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Purity.label }}</label>
                                                    {{ stockform.Purity }}
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Nepali_date.label }}</label>
                                                    {{ stockform.Nepali_date }}
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Purchased_from.label }}</label>
                                                    {{ stockform.Purchased_from }}
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label> {{ stockform.Purchase_source.label }}</label>
                                                    {{ stockform.Purchase_source }}
                                            </div>
                                        </div>
                                        
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Total_weight.label }}</label>
                                                    {{ stockform.Total_weight }}
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Rate.label }}</label>
                                                    {{ stockform.Rate }}
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Cash.label }}</label>
                                                    {{ stockform.Cash }}
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Bank.label }}</label>
                                                    {{ stockform.Bank }}
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <label> {{ stockform.Due.label }}</label>
                                                    {{ stockform.Due }}
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label> {{ stockform.Notes.label }}</label>
                                                    {{ stockform.Notes }}
                                            </div>
                                        </div>

    

            
                                        <button type="submit" class="btn btn-primary">Save Stock</button>
                          </form>



                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'include/add_model.html' %}
    {% include 'footer.html' %}
</div>


{% endblock %}