{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}

        <div class="main-panel">
          <div class="content-wrapper" >


            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ totalweight|floatformat:2 }} gram</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Stock Gold</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ pure_gold|floatformat:2 }} gram</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">24-carat Gold</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ mix_gold}} gram</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Mix Gold</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs.{{ total|floatformat:0 }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Stock</h6>
                  </div>
                </div>
              </div>
            </div>
          
          

                    <div class="row ">
                      <div class="col-12 grid-margin">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Stock Ornamens</h4>

              <a  href="{% url 'stocks:stockornament-create' %}" class="btn btn-primary float-right mb-2">Add New Stock</a>
            

              <div class="btn-group" role="group" aria-label="Purchased From">
                <a href="{% url 'stocks:goldstocks' %}" class="btn btn-secondary {% if not purchased_from %}active{% endif %}">All</a>
                <a href="{% url 'stocks:goldstocks' %}?purchased_from=Bank" class="btn btn-secondary {% if purchased_from == 'Bank' %}active{% endif %}">Bank</a>
                <a href="{% url 'stocks:goldstocks' %}?purchased_from=Shops" class="btn btn-secondary {% if purchased_from == 'Shops' %}active{% endif %}">Shops</a>
                <a href="{% url 'stocks:goldstocks' %}?purchased_from=Customer" class="btn btn-secondary {% if purchased_from == 'Customer' %}active{% endif %}">Customer</a>
                <a href="{% url 'stocks:goldstocks' %}?purchased_from=Vendor" class="btn btn-secondary {% if purchased_from == 'Vendor' %}active{% endif %}">Vendor</a>
                <a href="{% url 'stocks:stocks_deleted' %}" class="btn btn-secondary">Deleted</a>
            </div>

                    <div class="table-responsive">
                      <table class="table"> 
                        <thead>
                          <tr style="color:white">
                            <th>Actions</th>
                            <th> Date</th>
                            <th> Name </th>
                            <th> Weight(gram) </th>
                            <th> Rate(Tola) </th>
                            <th> Total </th>
                            <th> Cash </th>
                            <th> Bank </th>
                            <th> Due </th>
                            <th> Status </th>
                          </tr>
                        </thead>
                        <tbody>
              
                        
                          {% for item in stockornaments %}
                            <tr>
                              <td>
                    
                                <a href="{% url 'stocks:stock_update' item.pk %}" class="btn btn-primary" >edit</a>
                                  <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                              </td>
                              <td>{{ item.nepali_date }}</td>
                              <td>
                                <span class="pl-2">{{ item.purchase_source.name }}</span>
                              </td>
                              <td> {{ item.total_weight|floatformat:2 }} </td>
                              <td> {{ item.rate|floatformat:0 }} </td>
                              <td> {{ item.grand_total|floatformat:2 }} </td>
                              <td> {{ item.cash|floatformat:2 }} </td>
                              <td> {{ item.bank|floatformat:2 }} </td>
                              <td> {{ item.due|floatformat:2 }} </td>

                              {% if item.status == 'approved' %}
                              <td>
                                <div class="badge badge-outline-success">{{ item.status }} </div>
                              </td>
                              
                              {% else %}
                              <td>
                                <div class="badge badge-outline-danger">{{ item.status }} </div>
                              </td>
                              {% endif %}
                            </tr>

                            {% empty%}
                            <tr>
                                <td colspan="4">No stocks found.</td>
                            </tr>

                            {% endfor %}
                          
                            {% if stocks%}
                            <tr style="color:white">
                              <td>Total Weight</td>
                              <td colspan=2""></th>
                              <td>{{ totalweight|floatformat:2 }}</td>
                              <td></td>
                              <td>{{ total|floatformat:0 }}</td>
                              <td>{{ paid|floatformat:0 }}</td>
                              <td>{{ due|floatformat:0 }}</td>
                              <td colspan=3""></th>
                            </tr>

                        {% endif %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
