{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">  
          
          
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Kaligars</h4>

                {% for kaligar in  kaligars %}
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                  <div class="text-md-center text-xl-left">
                    <h6 class="mb-1"><a href="{% url 'transaction:kaligarornaments' kaligar.pk %}"> {{ kaligar.name }} </a></h6>
                    {% comment %} <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> {% endcomment %}
                  </div>
                  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                    <h6 class="font-weight-bold mb-0">{{ kaligar.gold }}</h6>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>

            <div class="col-6 grid-margin">
                <div class="card">
                    <div class="card-body">
                        
                        <h4 class="card-title">Add</h4>

                            <!-- Button to Open the Modal -->
                        <form method="POST" class="card-body" enctype="multipart/form-data">
                            {% csrf_token %}
                          
                          {% for field in kaligarorder_form %}
                          {{ field.errors }}
                              <div class="fieldWrapper">
                                  <div class="form-group">
                                  {{ field.label_tag }} {{ field }}
                                  </div>
                              </div>
                          {% endfor %}
                          
                        
                          <button type="submit" class="btn btn-primary">Save</button>
                          </form>
                        
                    </div>
                </div>
            </div>


        </div>
    </div>
    


        <div class="content-wrapper">
            <div class="row">       
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
            <div class="table-responsive">
              <table class="table"> 
                <thead>
                  <tr style="color:white">
                    <th>Actions</th>
                    <th> Date</th>
                    <th> Kaligar</th>
                    <th> Description </th>
                    <th> Gold diyeko </th>
                  </tr>
                </thead>
                <tbody>
      
                
                  {% for item in kaligarorder %}
                    <tr>
                      <td> <a href="{% url 'transaction:transaction_update' item.pk %}" class="btn btn-primary" >edit</a>
                        <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                      </td>
                      <td>{{ item.nepali_date }}</td>
                      <td>{{ item.kaligar }}</td>
                      <td> {{ item.description }} </td>
                      <td> {{ item.gold_diyeko }} </td>
                    </tr>

                    {% empty%}
                    <tr>
                        <td colspan="4">No recent kaligarorders found.</td>
                    </tr>

                    {% endfor %}
                    
                
                  </tbody>
              </table>
            </div>
        </div>
</div>

    {% include 'footer.html' %}
</div>
{% endblock %}