{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel">

        <div class="content-wrapper">

          <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">{{ count_ornament|floatformat:0 }}</h3>
                        {% comment %} <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> {% endcomment %}
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Ornaments</h6>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">{{ total_gold|floatformat:2 }} gram</h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Gold</h6>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">{{ total_jarti|floatformat:2 }} gram</h3>
                        <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-danger">
                        <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Jarti</h6>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">{{ total|floatformat:2 }} gram </h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted font-weight-normal">Stock</h6>
                </div>
              </div>
            </div>
          </div>
        


            <div class="row">       
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
            <div class="table-responsive">
              <table class="table"> 
                <thead>
                  <tr style="color:white">
                    <th>Actions</th>
                    <th> Date</th>
                    <th> Product</th>
                    <th> Weight</th>
                    <th> Jarti </th>
                    <th> Wages </th>
                  </tr>
                </thead>
                <tbody>
      
                
                  {% for item in ornaments %}
                    <tr>
                      <td> <a href="{% url 'transaction:transaction_update' item.pk %}" class="btn btn-primary" >edit</a>
                        <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                      </td>
                      <td>{{ item.nepali_date }}</td>
                      <td>{{ item.product_name }}</td>
                      <td> {{ item.weight }} </td>
                      <td> {{ item.jarti|floatformat:3 }} </td>
                      <td> {{ item.wages }} </td>
                    </tr>

                    {% empty%}
                    <tr>
                        <td colspan="4">No recent kaligarorders found.</td>
                    </tr>

                    {% endfor %}
                    
                
                  </tbody>
              </table>
            </div>
        </div>
</div>

    {% include 'footer.html' %}
</div>
{% endblock %}