{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}
        <div class="main-panel">
          <div class="content-wrapper">
          
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>

              <div class="btn-group" role="group" aria-label="Purchased From">
                <a href="{% url 'stocks:purchasesource' %}" class="btn btn-secondary {% if not purchased_from %}active{% endif %}">All</a>
            </div>

            <div class="table-responsive">
                <table class="table"> 
                  <thead>
                    <tr style="color:white">
                      <th>Actions</th>
                      <th> Name</th>
                      <th> Pan </th>
                      <th> Total weight </th>
                      <th> Total </th>
                    </tr>
                  </thead>
                  <tbody>
        
                  
                    {% for item in deleted %}
                      <tr>
                        <td>
              
                        
                         <!-- Example Edit Button -->
                        {% comment %} <button class="btn btn-primary edit-button" data-purchase-id="{{ purchase_source.id }}">edit</button> {% endcomment %}
                        <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">Permanently Delete</a>
                        <a href="{% url 'stocks:restore_purchasesource' item.id %}" class="btn btn-success">Restore</a>
                        </td>
                        <td>
                          <span class="pl-2"><a href="{% url 'stocks:purchasesourcedetail' %}?purchased_from={{ item.id }}">{{ item.name }}</a></span>
                        </td>
                        <td>{{ item.pan }}</td>
                        <td>{{ item.total_weight|floatformat:0 }}</td>
                        <td>{{ item.total_amount|floatformat:0 }}</td>
                      </tr>

                      {% empty%}
                      <tr>
                          <td colspan="4">No sources found.</td>
                      </tr>

                      {% endfor %}
        
                    </tbody>
                </table>
              </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
