{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nirmala Jewellers</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.0/css/select2.min.css" rel="stylesheet" />

<!-- Include Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.0/js/select2.min.js"></script>
   <!-- Include the jQuery library -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- Include the Select2 JS file -->
   <!-- Initialize Select2 on the ornaments field -->
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
        {% include 'sidebar.html' %}
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            {% include 'navbar.html' %}
            <!-- partial -->
            {% block body %}
            {% endblock %}
        </div>
    </div>

    

  </body>
  
  <!-- plugins:js -->
  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %} "></script>
  <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'assets/js/misc.js' %}"></script>
  <script src="{% static 'assets/js/settings.js' %}"></script>
  <script src="{% static 'assets/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
  <!-- Include the jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Include the Select2 JS file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <!-- Initialize Select2 on the ornaments field -->



  <script>
    function deleteItem(e){
      let id= e.dataset.id
      e.closest('tr').remove()
      fetch('',{
        method:'DELETE',
        headers:{
          'X-CSRFToken':'{{ csrf_token }}'
        },
        body:JSON.stringify({
          'id':id
        }),
        credentials:'same-origin',
      })
      location.reload();

    }

    function getId(e){
      let id= e.dataset.id
      // e.data('id')
      fetch('',{
        method:'GET',
        headers:{
          'X-CSRFToken':'{{ csrf_token }}'
        },
        body:JSON.stringify({
          'id':id
        }),
        credentials:'same-origin',
      })
      location.reload();
    }

  
    </script>

    <script>
      $(document).ready(function () {
          $(".dropdown-menu a").click(function () {
              var selectedValue = $(this).attr("data-value");
              var selectedText = $(this).text();
              
              // Set the selected value and text in the dropdown button
              $("#purchaseSourceDropdown").text(selectedText);
              $("#purchaseSourceDropdown").val(selectedValue);
              
              // Handle the case for adding a new purchase source
              if (selectedValue === "") {
                  // Show the addPurchaseSourceModal
                  $('#addPurchaseSourceModal').modal('show');
              }
          });
      });
  </script>
  

    <script>
      // Open the popup window when the "Add Purchase Source" button is clicked
      document.getElementById('purchasesource-btn').addEventListener('click', function() {
        document.getElementById('purchasesource-popup').style.display = 'block';
      });
      
      // Close the popup window when the "x" (close) button is clicked
      document.querySelector('.close').addEventListener('click', function() {
        document.getElementById('purchasesource-popup').style.display = 'none';
      });
      
      // Submit the form inside the popup window when the "Save Purchase Source" button is clicked
      document.getElementById('purchasesource-form').addEventListener('submit', function(event) {
        event.preventDefault();
        // Perform form submission using AJAX or other techniques
        
        // Close the popup window after successfully saving the Purchase Source
        document.getElementById('purchasesource-popup').style.display = 'none';
      });
    </script>
<!-- JavaScript to open the modal -->

<script>
  $(document).ready(function() {
    $("#myModal").modal("hide");  // Hide the modal initially

    // Open the modal when the button is clicked
    $("#addOrnamentBtn").click(function() {
      $("#myModal").modal("show");
    });
  });
</script>

</html>