{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}


        <div class="main-panel">
          <div class="content-wrapper" style="margin-bottom:0; padding-bottom:0;">

            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">

                    <h4 class="card-title">Upload Purchase Source</h4>
             
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ upload_form.non_field_errors }}

                      <div  class="form-group">
                        <div class="row">
                          <div class="col-3">{{ upload_form.purchase_file.label_tag }}</div>

                          <div class="col-3">{{ upload_form.purchase_file }} </div>

                          <div class="col-3">
                            {% if upload_form.purchase_file.errors %}
                              <div class="text-danger">
                                {% for error in upload_form.purchase_file.errors %}
                                  <span>{{ error }}</span><br>
                                {% endfor %}
                              </div>
                            {% endif %}
                          </div>

                        {% if message %}
                              <div class="text-danger">
                                  <span>{{ message }}</span><br>
                              </div>
                        {% endif %}
                    

                          <div class="col-3"><button type="submit" style="font-size:12.8px;" class="btn btn-success float-right">Upload Purchase Source</button></div>

                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          
        

            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">{{ title }}</h4>

                      <button type="button"  class="btn btn-primary float-right mt-2" data-toggle="modal" data-target="#myModal"> Add purchase source</button>

                      <div class="btn-group" role="group" aria-label="Purchased From">
                        <a href="{% url 'stocks:purchasesource' %}" class="btn btn-secondary {% if not purchase_source %}active{% endif %}">All</a>
                        <a href="{% url 'stocks:purchasesource_deleted' %}" class="btn btn-secondary">Deleted</a>
                    </div>

                    <div class="table-responsive">
                      <table class="table"> 
                        <thead>
                          <tr style="color:white">
                            <th>Actions</th>
                            <th> Name</th>
                            <th> Pan </th>
                            <th> Total weight </th>
                            <th> Total </th>
                          </tr>
                        </thead>
                        <tbody>
              
                        
                          {% for item in purchase_source %}
                            <tr>
                              <td>
                    
                               <!-- Example Edit Button -->
                              {% comment %} <button class="btn btn-primary edit-button" data-purchase-id="{{ purchase_source.id }}">edit</button> {% endcomment %}
                                  <a href="{% url 'stocks:purchase-source_update' item.pk %}" class="btn btn-primary">edit</a>
                                  <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                              </td>
                              <td>
                                <span class="pl-2"><a href="{% url 'stocks:purchasesourcedetail' %}?purchased_from={{ item.id }}">{{ item.name }}</a></span>
                              </td>
                              <td>{{ item.pan }}</td>
                              <td>{{ item.total_weight|floatformat:0 }}</td>
                              <td>{{ item.total_amount|floatformat:0 }}</td>
                            </tr>

                            {% empty%}
                            <tr>
                                <td colspan="4">No sources found.</td>
                            </tr>

                            {% endfor %}
                            
                            {% comment %} {% if purchase_source %}
                            <tr style="color:white">
                              <td>Total Weight</td>
                              <td colspan=2""></th>
                              <td>{{ total_weight|floatformat:2 }}</td>
                              <td></td>
                              <td>{{ total|floatformat:0 }}</td>
                              <td>{{ paid|floatformat:0 }}</td>
                              <td>{{ due|floatformat:0 }}</td>
                              <td colspan=3""></th>
                            </tr>

                        {% endif %} {% endcomment %}

                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% include 'include/add_model.html' %}
          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
