{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}


        <div class="main-panel">

        
          <div class="content-wrapper">

            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
      
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ weight|floatformat:2 }} gram</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
      
                      </div>
      
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
      
                      <h6 class="text-muted font-weight-normal">Stock Ornaments Gold</h6>
                  </div>
                </div>
              </div>
      
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs. {{ total|floatformat:0 }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
      
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
      
                    </div>
                    <h6 class="text-muted font-weight-normal">Ornaments Stock</h6>
                  </div>
                </div>
              </div>
      
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ ornaments_count }}</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
      
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
      
                    </div>
                    <h6 class="text-muted font-weight-normal">Total Oraments</h6>
                  </div>
                </div>
              </div>
      
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
      
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
      
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">{{ purchasesource }}</h4>

                      <button type="button"  class="btn btn-primary float-right mt-2" data-toggle="modal" data-target="#myModal"> Add purchase source</button>
                    <div class="table-responsive">
                      <table class="table"> 
                        <thead>
                          <tr style="color:white">
                            <th>Date</th>
                            <th> Total weight</th>
                            <th> Rate </th>
                            <th> Grand Total </th>
                          </tr>
                        </thead>
                        <tbody>
              
                        
                          {% for item in stocks %}
                            <tr>
                              {% comment %} <td> {% endcomment %}
                    
                              
                               <!-- Example Edit Button -->
                              {% comment %} <button class="btn btn-primary edit-button" data-purchase-id="{{ purchase_source.id }}">Edit</button>

                                  <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a> {% endcomment %}
                              {% comment %} </td> {% endcomment %}
                              <td>
                                <span class="pl-2">{{ item.Nepali_date }}</span>
                              </td>
                              <td>
                                <span class="pl-2">{{ item.Total_weight }}</span>
                              </td>
                              <td>
                                <span class="pl-2">{{ item.Rate }}</span>
                              </td>
                              <td>
                                <span class="pl-2">{{ item.Grand_total|floatformat:2 }}</span>
                              </td>
                              <td>{{ item.pan }}</td>
                            </tr>

                            {% empty%}
                            <tr>
                                <td colspan="4">No sources found.</td>
                            </tr>

                            {% endfor %}
              
                            <tr style="color:white">
                              <td>Total Weight</td>
                              <td>{{ totalweight|floatformat:2 }}</td>
                              <td>{{ total_sales|floatformat:0 }}</td>
                              <td>{{ total|floatformat:0 }}</td>
                              <td colspan=3""></th>
                            </tr>

                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% include 'include/add_model.html' %}
          {% include 'include/edit_model.html' %}
          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
