<!DOCTYPE html>
<html>
<head>
    <title>Add Investment</title>
</head>
<body>
    <h1>Add Investment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <a href="{% url 'investmentsandexpenses:investments' %}">Back to Investment List</a>
</body>
</html>