<!DOCTYPE html>
<html>
<head>
    <title>Add Expenses</title>
</head>
<body>
    <h1>Add Expenses</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <a href="{% url 'investmentsandexpenses:expenses' %}">Back to Expenses List</a>
</body>
</html>
