{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}

        <div class="main-panel">
          <div class="content-wrapper">


            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0"> Rs {{ total }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Investments</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ pure_gold|floatformat:2 }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Investment-Shop</h6>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ pure_gold|floatformat:2 }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Investment-Personel</h6>
                  </div>
                </div>
              </div>

            </div> 
          
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Investments</h4>
             
                    
                    <button type="button"  class="btn btn-primary float-right mt-2" data-toggle="modal" data-target="#myModal"> Add new investment</button>
            

                    <div class="table-responsive">
                      <table class="table"> 
                        <thead>
                          <tr style="color:white">
                            <th>Actions</th>
                            <th> Date</th>
                            <th> Investment Type</th>
                            <th> Category</th>
                            <th> Name </th>
                            <th> Amount </th>
                            <th> Interest </th>
                          </tr>
                        </thead>
                        <tbody>
              
                        
                          {% for item in investments  %}
                            <tr>
                              <td>
                                <a href="{% url 'investmentsandexpenses:investment-update' item.pk %}" class="btn btn-primary" >edit</a>
                                <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                              </td>
                              <td>{{ item.date }}</td>
                              <td>{{ item.investment_type }}</td>
                              <td>{{ item.category }}</td>
                              <td>{{ item.name }}</td>
                              <td>
                                <span class="pl-2">{{ item.amount }}</span>
                              </td>
                              <td>
                                <span class="pl-2">{{ item.interest }}</span>
                              </td>
                              

                            {% empty%}
                            <tr>
                                <td colspan="4">No investments found.</td>
                            </tr>

                            {% endfor %}
                          
                            {% if total%}
                            <tr style="color:white">
                              <td>Total</td>
                              <td colspan=2""></th>
                              <td>{{ total|floatformat:2 }}</td>
                              <td colspan=3""></th>
                            </tr>

                        {% endif %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% include 'include/add_model.html' %}
          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
