{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}

        <div class="main-panel">
          <div class="content-wrapper">

            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0"> Rs {{ total_capital }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Total Capital</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs. {{ all_total|floatformat:0 }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Total Investments</h6>
                  </div>
                </div>
              </div>


              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs. {{ total|floatformat:0 }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Total Expenses</h6>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs. {{ profit }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Profit/Loss</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Monthly Purchase Summary - {{ current_year }}</h4>

                    
                    <div class="table-responsive">
                      <table class="table"> 
                        <thead>
                            <tr>
                              <th>Month</th>
                              <th>Total Gold Purchase</th>
                              <th>Total Purchase Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for month_data in monthly_purchase %}
                              <tr>
                                  <td>{{ month_data.month }}</td>
                                  <td>{{ month_data.total_goldpurchase }}</td>
                                  <td>NPR {{ month_data.total_purchase }}</td>
                              </tr>
                          {% endfor %}

                            {% if totalpurchase %}
                            <tr style="color:white">
                              <td>Total purchase</td>
                              <td>{{ totalgoldpurchase }}</td>
                              <td>{{ totalpurchase }}</td>
                              
                            </tr>

                            {% endif %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

      
                <div class="col-6 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Monthly Sales Summary - {{ current_year }}</h4>
  
                      
                      <div class="table-responsive">
                        <table class="table"> 
                          <thead>
                              <tr>
                                <th>Month</th>
                                <th>Total Gold Sales</th>
                                <th>Total Sales</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for month_data in monthly_sales %}
                                <tr>
                                    <td>{{ month_data.month }}</td>
                                    <td>{{ month_data.total_goldsales_for_month }}</td>
                                    <td>NPR {{ month_data.total_sales }}</td>
                                </tr>
                            {% endfor %}
  
                              {% if totalsales %}
                              <tr style="color:white">
                                <td>Total sales</td>
                                <td>{{ totalgoldsales }}</td>
                                <td>{{ totalsales }}</td>
                              </tr>
  
                              {% endif %}
  
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>  

                <div class="row">
                  <div class="col-6 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Monthly Expenses Summary - {{ current_year }}</h4>
    
                        
                        <div class="table-responsive">
                          <table class="table"> 
                            <thead>
                                <tr>
                                  <th>Month</th>
                                  <th>Total Expenses</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for month_data in monthly_expenses %}
                                  <tr>
                                      <td>{{ month_data.month }}</td>
                                      <td>NPR {{ month_data.total_expenses }}</td>
                                  </tr>
                              {% endfor %}
    
                                {% if totalexpenses %}
                                <tr style="color:white">
                                  <td>Total expenses</td>
                                  <td>{{ totalexpenses }}</td>
                                </tr>
    
                                {% endif %}
    
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
    
          
                    <div class="col-6 grid-margin">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Monthly Profit Summary - {{ current_year }}</h4>
      
                          
                          <div class="table-responsive">
                            <table class="table"> 
                              <thead>
                                  <tr>
                                    <th>Month</th>
                                    <th>Total Sales</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for month_data in monthly_profit %}
                                    <tr>
                                        <td>{{ month_data.month }}</td>
                                        <td>NPR {{ month_data.total_profit }}</td>
                                    </tr>
                                {% endfor %}
      
                                  {% if totalprofit %}
                                  <tr style="color:white">
                                    <td>Total Profit</td>
                                    <td>{{ totalprofit }}</td>
                                  </tr>
      
                                  {% endif %}
      
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>  

                <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                    <h4 class="card-title">Balance</h4>

                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Bank</h6>
                        <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ bank_total|floatformat:0 }}</h6>
                      </div>
                    </div>

                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Cash</h6>
                        <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ cash_total }}</h6>
                      </div>
                    </div>

                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Due</h6>
                        <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ due_total|floatformat:0 }}</h6>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                    <h4 class="card-title">Investment</h4>
                    
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1"><a class="links" href="{% url 'stocks:goldstocks' %}"> Gold Stock</a></h6>
                      
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ stock_value|floatformat:0 }}</h6>
                      </div>
                    </div>

                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1"><a class="links" href="{% url 'stocks:ornamentscount' %}?material=Gold"> Ornaments</a> </h6>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ totalornaments|floatformat:0 }}</h6>
                      </div>
                    </div>

                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1"><a class="links" href="{% url 'stocks:ornamentscount' %}"> Kaligar</a> </h6>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ kaligargold|floatformat:0 }}</h6>
                      </div>
                    </div>

                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1"><a class="links" href="{% url 'investmentsandexpenses:investments' %}"> Investments</a></h6>
                       
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ totalinvestment|floatformat:0 }}</h6>
                      </div>
                    </div>
                  </div>


                   
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% include 'include/add_model.html' %}
          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
