{% extends 'basic.html' %}
{% load static %}

{% block body %}
  <h2>Update Ornament</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Update Ornament</button>
  </form>
{% endblock %}

    {% include 'footer.html' %}
</div>
