{% extends 'basic.html' %}
{% load static %}



<!-- container-scroller -->
{% block body %}

        <div class="main-panel">
          <div class="content-wrapper">


            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ gold_sales }} gram</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Gold Sales</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Rs. {{ total_sales }}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Total sales</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{ mix_gold}}</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Mix Gold</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">$31.53</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Expense current</h6>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>
             
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ sales_upload_form.non_field_errors }}
                      <div class="row">
                        {% if message %}
                              <div class="text-danger">
                                  <span>{{ message }}</span><br>
                              </div>
                        {% endif %}
                      </div>
                      
                      <div class="form-group">
                        <div class="row">
                          <div class="col-3">
                          {{ sales_upload_form.sales_file.label_tag }}
                          </div>

                          <div class="col-3">
                            {{ sales_upload_form.sales_file }}
                          </div>

                          <div class="col-3">
                            {% if sales_upload_form.sales_file.errors %}
                              <div class="text-danger">
                                {% for error in sales_upload_form.sales_file.errors %}
                                    <span>{{ error }}</span><br>
                                {% endfor %}
                              </div>
                            {% endif %}
                          </div>

                         

                        </div>
                      </div>    
                    </form>

                  
              <a href="{% url 'sales:order-create' %}" class="btn btn-primary float-right">Add New Order</a>

              <div class="btn-group" role="group" aria-label="ORDERS">
                <a href="{% url 'sales:order' %}" class="btn btn-secondary {% if not order_status %}active{% endif %}">All</a>
                <a href="{% url 'sales:order' %}?order=created" class="btn btn-secondary {% if order_status == 'created' %}active{% endif %}">Created</a>
                <a href="{% url 'sales:order' %}?order=processing" class="btn btn-secondary {% if order_status == 'processing' %}active{% endif %}">Processing</a>
                <a href="{% url 'sales:order' %}?order=completed" class="btn btn-secondary {% if order_status == 'completed' %}active{% endif %}">Completed</a>
                <a href="{% url 'sales:order' %}?order=cancelled" class="btn btn-secondary {% if order_status == 'cancelled' %}active{% endif %}">Cancelled</a>
                <a href="{% url 'sales:order' %}" class="btn btn-secondary">Deleted</a>
            </div> 

                    <div class="table-responsive">
                      <table class="table"> 
                        <thead>
                          <tr style="color:white">
                            
                            <th> Date </th>
                            <th> Customer </th>
                            {% comment %} <th> Address </th> {% endcomment %}
                            <th> Phone no </th>
                            <th> Ornaments </th>
                            {% comment %} <th> Material </th> {% endcomment %}
                            <th> Total Weight </th>
                            <th> Rate </th>
                            <th> Grand total </th>
                            <th> Cash </th>
                            <th> Bank </th>
                            <th> Due </th>
                            <th> Notes </th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
              
                        
                          {% for item in order %}
                            <tr>
                              <td>{{ item.nepali_date }}</td>
                              <td>{{ item.customer }}</td>
                              {% comment %} <td>{{ item.address }}</td> {% endcomment %}
                              <td>{{ item.phone_no }}</td>
                              <td>
                              {% for item in item.selected_ornaments.all %}
                              {{ item.ornament.product_name }}
                              {% endfor %}
                              </td>

                              <td> {{ item.total_weight|floatformat:2 }} </td>
                              <td> {{ item.rate|floatformat:0 }} </td>
                              <td> {{ item.grand_total|floatformat:2 }} </td>
                              <td> {{ item.cash|floatformat:2 }} </td>
                              <td> {{ item.bank|floatformat:2 }} </td>
                              <td>{{ item.due }}</td>
                              <td>{{ item.notes }}</td>
                              <td>
                    
                                <a href="{% url 'sales:order_update' item.pk %}" class="btn btn-primary" >edit</a>

                               
                                  {% if item.order_status != 'completed' %}
                                  <a href="{% url 'sales:convert_order_to_sales' item.id %}" class="btn btn-primary">Convert to Sales</a>
                                  {% else %}
                                    Converted to Sales
                                  {% endif %}
                                

                                  <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                              </td>
                            
                            {% empty%}
                            <tr>
                                <td colspan="4">No orders found.</td>
                            </tr>

                            {% endfor %}
                          
                            {% if stocks%}
                            <tr style="color:white">
                              <td>Total Weight</td>
                              <td colspan=2""></th>
                              <td>{{ totalweight|floatformat:2 }}</td>
                              <td></td>
                              <td>{{ total|floatformat:0 }}</td>
                              <td>{{ paid|floatformat:0 }}</td>
                              <td>{{ due|floatformat:0 }}</td>
                              <td colspan=3""></th>
                            </tr>

                        {% endif %}
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          {% include 'footer.html' %}

          <!-- partial -->
        </div>

    {% endblock %}
