{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">       
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add</h4>

                            <!-- Button to Open the Modal -->
          
                        <form method="POST" class="card-body" enctype="multipart/form-data">
                            {% csrf_token %}
                          
                             
                            <div class="row">
                                

                                <div class="fieldWrapper col-6">
                                    <div class="form-group">
                                        {{ orderform.nepali_date.label_tag }}
                                        {{ orderform.nepali_date }}
                                    </div>
                                </div>

                                <div class="fieldWrapper col-6">
                                    <div class="form-group">
                                        {{ orderform.customer.label_tag }}
                                        {{ orderform.customer }}
                                    </div>
                                </div>

                                <div class="fieldWrapper col-6">
                                    <div class="form-group">
                                        {{ orderform.address.label_tag }}
                                        {{ orderform.address }}
                                    </div>
                                </div>

                                <div class="fieldWrapper col-6">
                                    <div class="form-group">
                                        {{ orderform.phone_no.label_tag }}
                                        {{ orderform.phone_no }}
                                    </div>
                                </div>

                                
                                <div class="fieldWrapper col-6">
                                    <div class="form-group">
                                        {{ orderform.selected_ornaments.label_tag }} 
                                        {{ orderform.selected_ornaments }}
                                    </div>
                                </div>

                                <div class="fieldWrapper col-3">
                                    <div class="form-group">
                                  <!-- Add New button outside the custom dropdown -->
                                  <button class="mt-4 btn btn-primary" data-toggle="modal" data-target="#selectModal">Select Existing</button>
                                  
                                    </div>
                                </div>

                                <div class="fieldWrapper col-3">
                                    <div class="form-group">
                                  <!-- Add New button outside the custom dropdown -->
                                  <button class="mt-4 btn btn-success" data-toggle="modal" data-target="#selectModal">Add New</button>
                                  
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="mt-2 mb-4 table">
                                        <thead>
                                            <tr style="color:white">
                                                <th>Product</th>
                                                <th>Purity</th>
                                                <th>Weight</th>
                                                <th>Rate</th>
                                                <th>Jarti</th>
                                                <th>Jyala</th>
                                                <th>Stone</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="selectedOrnamentsTable">
                                            <!-- Selected ornament rows will be added here dynamically -->

                                        
                                            <tr>
                                                <td colspan="4">No ornaments selected.</td>
                                            </tr>


                                            <tr style="color:white">
                                            <td>Total Weight</td>
                                            <td colspan=2""></th>
                                            <td></td>
                                            <td colspan=3""></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>



                                <div class="fieldWrapper col-3">
                                    <div class="form-group">
                                        {{ orderform.own_gold.label_tag }}
                                        {{ orderform.own_gold }}
                                    </div>
                                </div>


                                <div class="fieldWrapper col-3">
                                    <div class="form-group">
                                        {{ orderform.cash.label_tag }}
                                        {{ orderform.cash }}
                                    </div>
                                </div>

                                <div class="fieldWrapper col-3">
                                    <div class="form-group">
                                        {{ orderform.bank.label_tag }}
                                        {{ orderform.bank }}
                                    </div>
                                </div>

                                <div class="fieldWrapper col-3">
                                    <div class="form-group">
                                        {{ orderform.discounts.label_tag }}
                                        {{ orderform.discounts }}
                                    </div>
                                </div>


                                <div class="fieldWrapper col-12">
                                    <div class="form-group">
                                        {{ orderform.notes.label_tag }}
                                        {{ orderform.notes }}
                                    </div>
                                </div>
                               
                                
                            </div>
                          
                        
                          <button type="submit" class="btn btn-primary">Save Order</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% include 'include/add_model.html' %}
    {% include 'include/select_model.html' %}
    {% include 'footer.html' %}

    
    <script>
        $(document).ready(function() {
            $('#id_selected_ornaments').select2();

            $('#id_selected_ornaments').on('change', function() {
                var selectedOrnaments = $(this).val();

            //Clear the table body
            var tableBody=$('.table tbody');
            tableBody.empty();
            var total_weight=0;
            var grand_total=0;
            var total_jarti=0;
            var total_jyala=0;
            var total_stone=0;

            // Iterate through the selected ornaments and add rows to the table
            if (selectedOrnaments && selectedOrnaments.length > 0) {
                for (var i = 0; i < selectedOrnaments.length; i++) {
                    var ornament = $('#id_selected_ornaments option[value="' + selectedOrnaments[i] + '"]').text();
                    // Split the text into an array of substrings using hyphen as the delimiter
                    var parts = ornament.split(' - ');

                    // Initialize an object to store the values
                    var ornamentData = {};

                    // Iterate through the parts and split each part based on colon
                    parts.forEach(function(part) {
                        var keyValue = part.split(':');
                        var key = keyValue[0].trim();
                        var value = keyValue[1].trim();

                        // Assign values to the object based on the keys
                        ornamentData[key] = value;
                    });

                    // Convert the object to a JSON string
                    var ornamentJson = JSON.stringify(ornamentData);

                    var total = parseFloat(ornamentData["Total"]); // Convert the value to a float before adding
                    var weight= parseFloat(ornamentData["Weight"])
                    var jarti= parseFloat(ornamentData["Jarti"])
                    var jyala= parseFloat(ornamentData["Jyala"])
                    var stone= parseFloat(ornamentData["Stone"])
                    grand_total+=total
                    total_weight+=weight
                    total_jarti+=jarti
                    total_jyala+=jyala
                    total_stone+=stone
                    
                    var newRow = $('<tr>');
                    newRow.append($('<td>').text(ornamentData["Name"]));
                    newRow.append($('<td>').text(ornamentData["Purity"]));
                    newRow.append($('<td>').text(ornamentData["Weight"]));
                    newRow.append($('<td>').text(ornamentData["Rate"]));
                    newRow.append($('<td>').text(ornamentData["Jarti"]));
                    newRow.append($('<td>').text(ornamentData["Jyala"]));
                    newRow.append($('<td>').text(ornamentData["Stone"]));
                    newRow.append($('<td>').text(total)); // Replace with the actual stone value
                    
                    tableBody.append(newRow);
                }
            }
            var newRow = $('<tr>');
            newRow.append($('<td>').text('Grand total'));
            newRow.append($('<td>').text(''));
            newRow.append($('<td>').text(total_weight));
            newRow.append($('<td>').text('')); 
            newRow.append($('<td>').text(total_jarti));
            newRow.append($('<td>').text(total_jyala));
            newRow.append($('<td>').text(total_stone));
            newRow.append($('<td>').text(grand_total)); // Replace with the actual stone value
            tableBody.append(newRow);
           




            });
        });

    </script>
    
    
</div>
{% endblock %}