{% extends 'basic.html' %}
{% load static %}


{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">       
            <div class="col-6 grid-margin">
                <div class="card">
                    <div class="card-body">
                        
                        <h4 class="card-title">Add</h4>

                            <!-- Button to Open the Modal -->
                        <form method="POST" class="card-body" enctype="multipart/form-data">
                            {% csrf_token %}
                          
                          {% for field in transaction_form %}
                          {{ field.errors }}
                              <div class="fieldWrapper">
                                  <div class="form-group">
                                  {{ field.label_tag }} {{ field }}
                                  </div>
                              </div>
                          {% endfor %}
                          
                        
                          <button type="submit" class="btn btn-primary">Save</button>
                          </form>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Balance</h4>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Bank</h6>
                        {% comment %} <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> {% endcomment %}
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ bank_total }}</h6>
                      </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Cash</h6>
                        {% comment %} <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> {% endcomment %}
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ cash_total }}</h6>
                      </div>
                    </div>

                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Due</h6>
                        {% comment %} <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> {% endcomment %}
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">{{ due_total }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
    


        <div class="content-wrapper">
            <div class="row">       
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
            <div class="table-responsive">
              <table class="table"> 
                <thead>
                  <tr style="color:white">
                    
                    <th> Date</th>
                    <th> Customer/Particulars</th>
                    <th> Description </th>
                    <th> Cash </th>
                    <th> Bank </th>
                    <th> Due </th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
      
                
                  {% for item in transactions %}
                 
                    <tr>
                        
                      <td>{{ item.nepali_date }}</td>
                      <td>{{ item.customer }}</td>
                      <td> {{ item.description }} </td>

                
                      {% if item.transaction_choices == 'Credit' %}
                      <td>
                        <div class="badge badge-outline-success">{{ item.cash }} </div>
                      </td>

                      <td>
                        <div class="badge badge-outline-success">{{ item.bank }} </div>
                      </td>
                      
                      <td>
                        <div class="badge badge-outline-success">{{ item.due }} </div>
                      </td>

                      {% else %}
                      <td>
                        <div class="badge badge-outline-danger">{{ item.cash }} </div>
                      </td>

                      <td>
                        <div class="badge badge-outline-danger">{{ item.bank }} </div>
                      </td>
                      
                      <td>
                        <div class="badge badge-outline-danger">{{ item.due }} </div>
                      </td>
                      {% endif %}
                      <td>
            
                        <a href="{% url 'transaction:transaction_update' item.pk %}" class="btn btn-primary" >edit</a>
                       <a onclick="deleteItem(this)" data-id="{{ item.id }}" class="btn btn-danger">delete</a>
                     </td>
                    </tr>

                    {% empty%}
                    <tr>
                        <td colspan="4">No transactions found.</td>
                    </tr>

                    {% endfor %}
                    
                
                  </tbody>
              </table>
            </div>
        </div>
</div>

    {% include 'footer.html' %}
</div>
{% endblock %}